{% extends 'sonnen/base.html' %}
{% block title %}Sonnen battery Status{% endblock %}
{% block body %}

    <script>
      anychart.onDocumentLoad(function () {
        // create an instance of a pie chart
        var chart = anychart.pie();
        // set the data
        chart.data([
          ["Production", {{ production }}],
          ["Consumption", {{ consumption }}],
          ["GridConsumption", {{ gridConsumption }}]
        ]);
        // set chart title
        chart.title("Top 5 pancake fillings");
        // set the container element
        chart.container("graphic-container");
        // initiate chart display
        chart.draw();
      });
    </script>




    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-2">Production: {{ production }} [W]</h1>
            <h1 class="display-3">Consumption: {{ gridConsumption }} [W]</h1>

        </div>
    </div>

        <!-- this draws the graphic -->
    <div id="graphic-container" style="width: 500px; height: 400px;"></div>


{% endblock %}