{% extends 'sonnen/base.html' %}
{% block title %}Sonnen battery Status{% endblock %}
{% block body %}

    <script>
      anychart.onDocumentLoad(function () {
        // create an instance of a pie chart
        var chart = anychart.pie();
        // set the data
        chart.data([
          ["Production", {{ production }}],
          ["Consumption", {{ consumption }}],
          ["GridConsumption", {{ gridConsumption }}]
        ]);
        // set chart title
        chart.title("Status from {{ timestamp }}");
        // set the container element
        chart.container("graphic-container");
        // initiate chart display
        chart.draw();
      });
    </script>




    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead"">Status from {{ timestamp }}</p>
            <h1 class="display-3">PV Production: {{ production }}W</h1>
            <p class="display-4">Home Consumption: {{ consumption }}W</p>
            {% if gridConsumption >= 0 %}
                <p class="display-4"><span class="text-success">Grid Feed-in: {{ gridConsumption }}W</span></p>
            {% else %}
                <p class="display-4"><span class="text-danger">Grid Consumption: {{ gridConsumption|cut:"-" }}W</span></p>
            {% endif %}
            {% if charging %}
                <p class="display-4"><span class="text-success">Battery charging: {{ pacTotal|cut:"-" }}W</span></p>
            {% elif discharging %}
                <p class="display-4"><span class="text-success">Consumption from battery: {{ pacTotal }}W</span></p>
            {% elif holding%}
                <p class="display-4"><span class="text-danger">Battery holding: {{ pacTotal|cut:"-" }}W</span></p>
            {% else %}
                <p class="display-4">Battery charging: {{ pacTotal|cut:"-" }} W</span></p>
            {% endif %}
            <p class="lead">Battery Voltage: {{ uBat }}V</p>
            <p class="display-4">Battery charge level: {{ usoc }}%</p>

        </div>
    </div>

        <!-- this draws the graphic -->
    <div id="graphic-container" style="width: 500px; height: 400px;"></div>


{% endblock %}
